<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Examen Zubut</title>

    <link rel="stylesheet" href="uikit/css/uikit.min.css">
</head>

<body>

    <div>
        {{{body}}}
    </div>

    <script src="uikit/js/uikit.min.js"></script>
    <script src="uikit/js/uikit-icons.min.js"></script>
</body>

</html>